
  /* shimmer2css */
  .big-container{
      width: 100%;
  }

.upr-item-container{
    display: flex;
    align-items: center;
    gap: 30px;
   margin: auto;
   justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
  .item-photu{
    background-color: lightgray;
    width: 275px;
    height: 170px;
  }
  .item-photu-des{
    background-color: lightgray;
    width: 180px;
    height: 40px;
}
.lower-container{
    display: flex;
    flex-flow: column;
    width: 60%;
    margin-left: 20%;
}
.contain-hr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}

.list-name{
    background-color: lightgray;
    width: 400px;
    height: 20px;
}
.list-desc{
      margin-top: 65px;
    background-color: lightgray;
    width: 500px;
    height: 20px;
  }
  .list-img{
    background-color: lightgray;
    width: 90px;
    height: 70px;
  }
  .list-btn{
    background-color: lightgray;
    width: 90px;
    height: 35px;
    margin: 60px 0 0 0;
  }

  @media only screen and (max-width: 761px){

   .lower-container{
    width: 80%;
    margin-left: 10%;
   }
   .list-name{
    width: 120px;
    height: 10px;
   }
   .list-desc{
    width: 150px;
    height: 10px;
   }

   .list-img{
    width: 75px;
    height: 70px;
   }

   .list-btn{
    width: 70px;
    height: 25px;
    margin: 60px 0px 0px 2px;
   }

   .item-photu{
    width: 115px;
    height: 75px;
}
   .item-photu-des{
    width: 100px;
    height: 26px;
   }

  }